<!doctype html>

<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>About | AIESEC in EGYPT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
              content="AIESEC develops the next generation of young leaders with impactful professional and volunteering experiences to activate their leadership potential."/>
	<meta name="keywords" content="volunteer, world, impact, creative, inspiration, youth"/>
	<link rel="icon" href="{{url_for('static', filename='AIESEC-Favicon-309x341.png' )}}" type="image/png">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="AIESEC EGYPT">
	<meta property="og:description"
              content="AIESEC is the biggest youth run organization that aims to develop leadership potential through cross cultural exchange and practical experience.">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="AIESEC EGYPT">
	<meta property="article:publisher" content="https://www.facebook.com/aiesecegypt">
	<meta property="og:image" content="{{url_for('static', filename='img/fb.jpg' )}}">

	<link href="{{url_for('static', filename='css/bootstrap.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/stack-interface.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/socicon.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/lightbox.min.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/flickity.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/iconsmind.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/jquery.steps.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/theme.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/custom.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{url_for('static', filename='css/font-rubiklato.css' )}}" rel="stylesheet" type="text/css" media="all"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
              rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	 _gaq.push(['_setAccount', 'UA-98273044-3']);
	 _gaq.push(['_trackPageview']);
	 
	 (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();

	</script>

    </head>
    <body class=" ">
	<a id="start"></a>
	<div class="nav-container ">
	    <div class="bar bar--sm visible-xs">
		<div class="container">
		    <div class="row">
			<div class="col-xs-3 col-sm-2">
			    <a href="">
				<img class="logo logo-dark" alt="logo" src="{{url_for('static', filename='img/logo-light.png' )}}"/>
				<img class="logo logo-light" alt="logo" src="{{url_for('static', filename='img/logo-dark.png' )}}"/>
			    </a>
			</div>
			<div class="col-xs-9 col-sm-10 text-right">
			    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
				<i class="icon icon--sm stack-interface stack-menu"></i>
			    </a>
			</div>
		    </div>
		    <!--end of row-->
		</div>
		<!--end of container-->
	    </div>
	    <!--end bar-->
	    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute bar--transparent">
		<div class="container">
		    <div class="row">
			<div class="col-md-1 col-sm-2 hidden-xs">
			    <div class="bar__module">
				<a href="">
				    <img class="logo logo-dark" alt="logo" src="{{url_for('static', filename='img/logo-dark.png' )}}"/>
				    <img class="logo logo-light" alt="logo" src="{{url_for('static', filename='img/logo-dark.png' )}}"/>
				</a>
			    </div>
			    <!--end module-->
			</div>
			<div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
			    <div class="bar__module">
				<ul class="menu-horizontal text-left">
				    <li class="dropdown">
					<span class="dropdown__trigger">For Youth</span>
					<div class="dropdown__container">
					    <div class="container">
						<div class="row">
						    <div class="dropdown__content col-md-2 col-sm-4">
							<ul class="menu-vertical">
							    <li>
								<a href="global-volunteer/">
								    Global Volunteer
								</a>
							    </li>
							    <li class="">
								<a href="global-entrepreneur/">
								    Global Entrepreneur
								</a>
							    </li>
							    <li class="">
								<a href="global-talent/">
								    Global Talent
								</a>
							    </li>
							</ul>
						    </div>
						    <!--end dropdown content-->
						</div>
						<!--end row-->
					    </div>
					</div>
					<!--end dropdown container-->
				    </li>
				    <li class="dropdown">
					<span class="dropdown__trigger">For Organizations</span>
					<div class="dropdown__container">
					    <div class="container">
						<div class="row">
						    <div class="dropdown__content col-md-2 col-sm-4">
							<ul class="menu-vertical">
							    <li>
								<a href="coming-soon/">
								    Companies
								</a>
							    </li>
							    <li class="">
								<a href="coming-soon/">
								    NGOs
								</a>
							    </li>
							</ul>
						    </div>
						    <!--end dropdown content-->
						</div>
					    </div>
					    <!--end dropdown container-->
					</div>
				    </li>
				    <li class="">
					<a class="" href="about/">About</a>
				    </li>
				    <li class="">
					<a class="" href="coming-soon/">Blog</a>
				    </li>
				</ul>
			    </div>
			    <!--end module-->
			</div>
		    </div>
		    <!--end of row-->
		</div>
		<!--end of container-->
	    </nav>
	    <!--end bar-->
	</div>
	<div class="main-container">
	    <section class="cover height-80 imagebg text-center parallax" data-overlay="7">
		<div class="background-image-holder background--top">
		    <img alt="background" src="{{url_for('static', filename='img/about-img.jpg' )}}"/>
		</div>
		<div class="container pos-vertical-center">
		    <div class="row">
			<div class="col-sm-8">
			    <h1>
				<strong> Welcome To Our Community</strong>
			    </h1>
			    <h5>
				<i> We are passionately driven by one cause, peace and fulfillment of humankind's potential</i>
			    </h5>
			</div>
		    </div>
		    <!--end of row-->
		</div>
		<!--end of container-->
	    </section>
	    <section class="switchable switchable--switch feature-large">
		<div class="container">
		    <div class="row">
			<div class="col-sm-6 col-md-5">
			    <div class=" switchable__text">
				Congratulations , You Had Been Accepted To Our Comuinity
				<br/>
				<br/>
				One more step..
				<br/>
				<br/>
				Please confirm your account with our community by login with facebook account
				<br/>
				<style>
				 #login{
				     padding: 10px;
				     background-color: #6d8edd;
				     color: white;
				     font-weight: bold;
				     border: 1px solid #308dc9;
				     border-radius: 4px;
				 }
				 #login:hover{
				     background-color: #308dc9;
				 }
				</style>
				<button id="login" onclick="window.open('/login?auth=172vflsakjbBVkdjhbfmdkj6216992763GFXBj=','popUpWindow','height=400,width=600,left=420,top=50,scrollbars=yes,menubar=no'); return false;">LOGIN WITH FACEBOOK</button>
				<br/>
			    </div>
			</div>
		    </div>
		    <!--end of row-->
		</div>
		<!--end of conta
	    <footer class="footer-6 unpad--bottom  ">
		<div class="container">
		    
		</div>
		<!--end of container-->
		<div class="footer__lower text-center-xs">
		    <div class="container">
			<div class="row">
			    <div class="col-sm-6">
                                <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> AIESEC in Egypt &mdash; All Rights Reserved</span>
			    </div>
			</div>
			<!--end of row-->
		    </div>
		    <!--end of container-->
		</div>
	    </footer>
	</div>
	<!--<div class="loader"></div>-->
	<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js' )}}"></script>
	<script src="{{url_for('static', filename='js/flickity.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/easypiechart.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/parallax.js')}}"></script>
	<script src="{{url_for('static', filename='js/typed.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/datepicker.js')}}"></script>
	<script src="{{url_for('static', filename='js/isotope.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/ytplayer.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/lightbox.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/granim.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.steps.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/countdown.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/twitterfetcher.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/spectragram.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/smooth-scroll.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
